:root {
  --background-color: #F5E5E1;
  --primary-color: #F9B487;
  --accent-color: #427A76;
  --accent-dark-color: #174143;
/* accent dark used for titles etc */
}


.booking {

  display: flex;
  justify-content: center;
  background-color: var(--accent-dark-color);
  flex-direction: column;
  padding: 1rem;
  color: var(--background-color);
}


.featureCategory {

display: grid;
grid-column: 2 / 2;

}


button {

  margin: 1rem 1rem 1rem 0rem;
  width: 10rem;
  padding: 1rem;
  border-radius: 16px;

}



.form-input,.form-textarea,.form-select,.form-multiselect {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-shadow: 0 0 #0000;
}